*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Inter,sans-serif;

}

body{

background:#0F172A;

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 60px;

}

nav h1{

color:#3B82F6;

}

nav ul{

display:flex;

gap:30px;

list-style:none;

}

section{

padding:100px;

}

h2{

font-size:60px;

margin-bottom:20px;

}

p{

font-size:22px;

opacity:.8;

margin-bottom:40px;

}

button{

background:#3B82F6;

border:none;

padding:15px 30px;

border-radius:10px;

color:white;

font-size:18px;

cursor:pointer;

}

button:hover{

background:#2563EB;

}
